<%- include("partials/header") -%>
  <section class="h-100 gradient-form" style="background-color: #9A616D;background-image: url('https://www.transparenttextures.com/patterns/checkered-light-emboss.png');">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">


              <div class="col-lg-6" style="border-radius:25px;">



                <img class="food" src="/images/food.png"
                       alt="food-pic" style="height:600px;width:100%;background:#F8EEE2;">

                  <!-- left side -->

              </div>

              <div class="col-lg-6" style="background:#F8EEE2;">

                    <div class="links">
                      <a class="offer" href="aboutUs">What we offer</a>
                      <a href="login"  href="login">Login</a>
                      <a class="Signup" href="register">Sign up</a>
                    </div>


                    <h1 id="craving-header">Craving something?</h1>
                    <p class="get-started">Let's get you started!</p>

                    <input type="search" placeholder="Type your food item...">
                    <button class="search">Search</button>
                  <!-- right side -->

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>


