/* Login page styling START*/

.login{
    display: flex;
}
.loginButton{
   background-color: #0dbd2a;
   color:white;
   width: 50%;
   margin-left: 25%;
   border-radius: 10px;
}
.loginButton:hover{
    background-color: #169d28;
    color: antiquewhite;
}

/* Login page styling END*/

/* Register page styling START*/

.RegisterButton{
    background-color: #0dbd2a;
   color:white;
   width: 40%;
   margin: 0 5%;
}
.RegisterButton:hover{
    background-color: #169d28;
    color:white;
}

/* Register page styling END*/

/* main page :start */
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  
  .links {
    display: flex;
    justify-content: space-between;
  }
  
  .links a {
    color: black;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5%;
    border-radius: 10px;
    width: 35%;
    height: 20%;
    font-weight: 800;
  }
  
  .links a:hover {
    background-color: black;
    color: white;
  }
  
  #craving-header {
    margin-left: 20px;
    color: #9D5712;
    font-weight: 700;
    margin-top: 100px;
  }
  
  .get-started {
    font-size: 1.3rem;
    margin: 40px 20px;
  }
  
  input[type="search"] {
    margin:0 20px;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px solid #9D5712;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="search"]:focus {
    border-color: #9D5712;
  }
  
  button.search {
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    background-color: #f44336;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button.search:hover {
    background-color: #36c770;
    color: white;
  }
  
  button.search:focus {
    outline: none;
  }
  
  input[type="search"],
  button.search {
    border-radius: 50px;
  }
  
  .food {
    width: 100%;
    height: 80%;
    object-fit: contain;
  }
  
/* main page ends */

/* About us page */

.aboutUS:hover{
  animation-name: example;
   animation-duration: 1s;
 }
 
 @keyframes example {
   from {width: 100px;height:100px;}
   to {width:110px;height:110px;}
 }

 /* Aboutus end page */

 
 .Webcontainer {
  max-width: 1100px;
  width: 100vw;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-photo/copy-space-italian-food-ingredients_23-2148551732.jpg ");
  background-size: cover; 
  box-sizing: border-box;
  border-radius: 20px;
  
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  display:flex;
  align-items: center;
}

.search-container input[type=text] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 15px;
  width: 400px; 
  font-size: 18px; 
}

.search-container button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #af4c89;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
    padding: 15px 30px;
  font-size: 18px;
 
}

.search-container button:hover {
  background-color: #f3399f;
  background-color: #d82a6a;
  animation: pulse 1s ;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.Webcard {
  background-color: #ffcbc4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px; 
  align-self: center;
  padding: 30px; 
  font-size: 18px;
  
}

.Webcard h2 {
  margin-top: 0;
  color: #fa1d81;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
  margin-bottom: 10px; 

  
}
.WebVisible{
  visibility: visible;
}
.Webcard p {

  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
  font-weight: bold;
  
}

.veg {
  
  width: 100px; 
  height: auto; 
  margin-right: 10px;
  animation: floatAnimation 2s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.typewriter-effect {
  width: 9ch;
  animation: typing 1s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}
